<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/DeWayWebHome.css" rel="stylesheet" />

</head>
<body>


    <!--會員/賣家 個人頁面-->
    <div class="col-10 offset-1 De-mtmb-15">
        <div class="bg-light">
            <div class="d-flex justify-content-between">
                <div class="card" style="width:50%;height:1000px;">
                    <img src="../../images/image-40.jpg" style="width:100%;height:100%;" />
                    <span class="">

                    </span>
                </div>
                <div class="card " style="width:50%;height:1000px;">
                    DFGas
                </div>

            </div>
        </div>
    </div>







    <script src="../../Scripts/jquery-3.4.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>

</body>
</html>