@model IEnumerable<DeWay.Models.WishList>


@{
    ViewBag.Title = "Index";
}

@if (Model.Count() > 0)
{
    <div class="col-10 offset-1 container"  style="margin-top:200px;" >
        <h2 class="mb-3" id="cart_title">@Html.DisplayFor(m => m.ToList()[0].Member.mbrName)的慾望清單</h2>



        <table class="table">
            <tr>
                <th></th>
                <th>商品</th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/productImage/@item.Product.ProductImage.FirstOrDefault().pdtImage" width="60" height="60" alt="商品圖片" />


                    </td>
                    <td>
                        @Html.ActionLink($"{item.Product.pdtName}", "ProductPage", "ProductPage", new { pdtID = item.pdtID }, new { })
                    </td>

                    <td>
                        @Html.ActionLink("刪除", "Delete", new { id = item.wishID })
                    </td>

                </tr>
            }



        </table>
    </div>}

else
{
    <div class="container">
        <p>慾望清單中還是空的喔~!</p>
    </div>

}

