@model IEnumerable<DeWay.Models.WishList>
    

@{
    ViewBag.Title = "Index";
}

    <h2 class="mb-3" id="cart_title">@Html.DisplayFor(m => m.ToList()[0].Member.mbrName)的慾望清單</h2>


<table class="table">
    <tr>
        <th>商品</th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
               
                @Html.ActionLink($"{item.Product.pdtName}","productPage","product",new { pdtID=item.pdtID},new { })
            </td>
  
            <td>
              
                @Html.ActionLink("刪除", "Delete", new { id = item.wishID })
            </td>

        </tr>
    }

</table>

