<div class="jumbotron">
    <h1>Chat</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>
                進入聊天室
            </legend>

            <input id="username" type="text" name="username" class="form-control" />

            <input id="btnconnect" type="button" value="進入聊天" class="btn btn-primary mt-3" />
            <hr />
            <input id="message" type="text" name="message" class="form-control" />

            <input id="btnSend" type="button" value="送出" class="btn btn-success mt-3" />

        </fieldset>

    </div>
    <div class="col-md-8">
        <ul id="output" style="height:400px;overflow:auto;border:1px solid"></ul>
    </div>

</div>

@section scripts{
    <script>
        $("#btnconnect").click(function () {
            var url = "ws://localhost:60132/api/Chat?username=" + $('#username').val();
            var ws = new WebSocket(url)
            console.log(ws);
            //ws.onopen = function () {
            //    ws.send("已進入聊天室");
            //}



             ws.onopen = function () {
            ws.send("已進入聊天室!!");
        }
          $('#btnSend').click(function () {
                ws.send($('#message').val());

          });


            ws.onmessage = function (e) {
                $('#output').append($('<li>').text(e.data))
            
            console.log(e.data);
            }

           //  $('#btnClose').click(function () {
          
           //ws.close();

        });
        //})
        
    </script>
}

