@model IEnumerable<DeWay.Models.Product>

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
   
  

}
        <table class="table">
            <tr>
                <th>
                    商品名稱       
                </th>
               
                <th>
                    商品圖片                   
                </th>
              
                <th>
                    商品種類                   
                </th>
                <th>
                    賣家                   
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pdtName)
                    </td>
                    
                <td>
                    @if (item.ProductImage.Count > 0)
                    {
                        <img src="@item.ProductImage.FirstOrDefault().pdtImage" alt="商品圖片" />

                    }
                    else
                    {
                        <span>圖片遺失</span>
                    }
   
                </td>          
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.fstLayerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seller.selCompany)
                    </td>
                    
                </tr>
            }

        </table>
