/*HomeIndex 首頁*/
.DeWay {
    font-family: 'Dancing Script', cursive;
    font-size:25px;
}
.navbar-light {
    height: 70px;
    position: relative;
    z-index: 1;
}

.homeIndexcarousel {
    margin-top: 6%;
    position: relative;
    z-index: 0;
}



    .homeIndexcarousel .carousel-item {
        height: 80vh;
    }

        .homeIndexcarousel .carousel-item img {
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            margin: auto;
        }

.homeIndexcard {
    margin: 20px 15px;
    

}
.shadowHpage {
    box-shadow: -10px 7px 17px 0.1px rgba(0,0,0,0.1);
}
/*@media (min-width: 1000px) {
    .carousel-control-next {
        margin-right: 10%;
    }
    .carousel-control-prev {
        margin-left: 10%;
    }
}*/




.tab-paneHome {
    position: relative;
    top: 30px;
    text-align:center;
    font-family: 'Ma Shan Zheng', cursive;
    font-size:22px;
    color:#ff9797;
}
.tab-paneHomeA {
    color: #ff9797;
}
.tab-paneHomeB:hover {
    color: #ff9797;
    background-color:#fff;
}
.btn-outline-danger:hover {
    color: #ff9797;
    background-color: #fff;
}
.img-wh {
    position: relative;
    top: -28px;
    left: -4px;
    width: 120px;
    height: 125px;
    /*height: 17vh; 照片大小不一固定圖片高，縮小到一定程度寬會變形*/
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 800px) {
    .img-wh {
        position: relative;
        top: -28px;
        left: -4px;
        width: 170px;
        height: 155px;
        padding-right: 0px;
        padding-left: 0px;
    }
}




.img-wh-2 {
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.img-wh-3 {
    position: relative;
    bottom: -10px;
    padding-bottom: 10px;
}

    .img-pad-1 {
        padding: 10px 0px;
    }


.text-secondary-1 {
    font-size: 15px;
    padding: 0px 0px;
}

.text-secondary-2 {
    font-size: 10px;
}

.m-100 {
    margin-top: 100px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-5 {
    margin-top: 3rem !important;
}

.bg-light-1 {
    height: 150%;
    padding-bottom: 40px;
}

.shadow {
    box-shadow: -0.5rem 0.5rem 0.3rem #dddddd !important;
}

.card {
}

.tab {
    width: 33.33%;
}

.tab-pane {
}


.h-800 {
    height: 800px;
}

.h-500 {
    height: 500px;
}

.size1 {
    width: 80px;
    height: 45px;
}


.dropdown-menu {
    border: 0px solid;
}

.form-control {
    width: 75%;
}
.body {    
    padding: 0px 0px 0px 0px;
    height: 100vh;
}
.header {
    /*height: 50px;*/
    position: absolute;
    top: 0;
    
}
.content {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-1 {
    position: relative;
    top: -100px;
    height: 180px;   
    font-size: 20px;   
}

.bg-red-1 {
    background-color: #FFECEC;
    margin-top: 40px;
    margin-bottom: 0px;
}

.jumbotron {
    padding-bottom: 0rem;
    padding-top: 90px;
    margin-bottom: 0rem;
}



.content-inside {
    padding-bottom: 50px;
}

.nav-itemH {
    height: 60px;    
    padding-top:15px;
    
}
.nav-tabsHome .nav-linkHome {
    border: 0px solid transparent;
    color: #000000;
    background-color: rgb(248, 249, 250);
}
    .nav-tabsHome .nav-linkHome.active {
        border: 0px solid transparent;
        color: #000000;
        background-color: #ffffff;
        border-bottom: 3px solid #6b92a4;
    }
    .nav-tabsHome .nav-linkHome:hover {
        background-color: #c4c4c4;
    }
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0.6);
}
/*LoginPage*/
.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.loginPageClose {
    padding-right: 10px;
    padding-top: 5px;
    cursor: pointer;
}

.form-structor {
    background-color: #dddddd;
    border-radius: 15px;
    height: 650px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

    .form-structor::after {
        content: '';
        opacity: .8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 500px;
        /*background-image:*/
    }

.signup {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all .3s ease;
}

    .signup.slide-up {
        top: 5%;
        -webkit-transform: translate(-50%,0%);
        -webkit-transition: all .3s ease;
    }

        .signup.slide-up.form-holder,
        .signup.slide-up.submit-btn {
            opacity: 0;
            visibility: hidden;
        }

        .signup.slide-up.form-title {
            font-size: 1em;
            cursor: pointer;
        }

            .signup.slide-up.form-title.spanSignup {
                margin-right: 5px;
                opacity: 1;
                visibility: visible;
                -webkit-transition: all .3s ease;
            }

.form-title1 {
    color: #fff;
    font-size: 1.7em;
}

.spanSignup {
    color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    margin-left: -30px;
}

.form-holder {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}

    .form-holder input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        width: 100%;
        font-size: 12px;
    }

/*input:last-child {
    border-bottom: 0;
}*/

.form-holder::-webkit-input-placeholder {
    color: rgba(0,0,0,0.4);
}




.submit-btn {
    background-color: rgba(0,0,0,0.4);
    color: rgba(256,256,256,0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}


    .submit-btn:hover {
        transition: all .3s ease;
        background-color: rgba(0,0,0,0.6);
    }




.login {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
    -webkit-transition: all .3s ease;
}

    .login::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -20px;
        -webkit-transform: translate(-50%, 0);
        background-color: #fff;
        width: 200%;
        height: 250px;
        border-radius: 50%;
        z-index: 4;
        -webkit-transition: all .3s ease;
    }

.center {
    position: absolute;
    top: calc(50% - 10%);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all .3s ease;
}

.form-title2 {
    color: #000;
    font-size: 1.7em;
}

.spanLogin {
    color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    margin-left: -30px;
}



.form-holder {
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    margin-top: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}

    .form-holder input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        width: 100%;
        font-size: 12px;
    }

        .form-holder input :last-child {
            border-bottom: 0;
        }

    .form-holder::-webkit-input-placeholder {
        color: rgba(0,0,0,0.4);
    }



.submit-btn {
    background-color: #6B92A4;
    color: rgba(256,256,256,0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}

    .submit-btn:hover {
        transition: all .3s ease;
        background-color: rgba(0,0,0,0.6);
    }



.slide-up {
    top: 90%;
    -webkit-transition: all .3s ease;
}

    .slide-up .center {
        top: 10%;
        -webkit-transform: translate(-50%, 0%);
        -webkit-transition: all .3s ease;
    }

    .slide-up .form-holder,
    .slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease;
    }

    .slide-up .form-title {
        font-size: 1em;
        margin: 0;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease;
    }

        .slide-up .form-title span {
            margin-right: 5px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all .3s ease;
        }



/*會員/賣家 個人頁面*/
/*MemberHomePage*/
.De-mtmb-15 {
    margin-top: 200px;
    margin-bottom: 200px;
}

.membercard {
    border: 0px solid;
    
}
.membercardC {
    text-align:center;
}
.membercardA {
    box-shadow: 13px 13px 8px -3px rgba(0, 0, 0, 0.2);
    height: 80vh;
}

.membercardB {
    box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 0.2);
    margin: 10px 10px;
}

.memberNav {
    position: absolute;
    top: 92%;
    right: 25%;
    height: 8vh;
    width: 110%;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

.nav-tabsA {
    border-bottom: 0px solid #dee2e6;
    height: 100%;
}

    .nav-tabsA .nav-itemA {
        margin-bottom: 0px;
        width: 25%;
        background-color: rgba(0,0,0,0.3);
    }

    .nav-tabsA .nav-linkA {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }

        .nav-tabsA .nav-linkA.active, .nav-tabsA .nav-itemA.show .nav-linkA {
            color: #ffffff;
            background-color: #0c0c0c;
            border-color: #dee2e6 #dee2e6 #fff;
            height: 100%;
        }






.nav-linkA {
    height: 100%;
    text-align: center;
    padding: 0rem 0rem;
    padding-top: 17%;
    color: #ffffff;
    font-size: 16px;
}

    .nav-linkA:hover {
        color: #383d41;
    }

.memberIntroduction {
    position: absolute;
    top: 10%;
    left: 15%;
    margin-top: 5rem;
    margin-left: 2rem;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    
}

.memberIntroductionB {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 15px;
}

.memberIntroductionC {
    font-size: 15px;
    
}

.memberIntroductionD {
    position: relative;
    left: 100%;
}




.memberIntroductionE {
    width: 250px;
    margin: 10px 0px 5px 15px;
}

.memberIntroductionF {
    background-color: #b1b7bd
}

.memberIntroductionG {
    position: absolute;
    right: 0%;
}

.col-12A {
    padding-right: 0px;
    padding-left: 0px;
}

.DesignShop {
    position: absolute;
    top: 5%;
    left: 15%;
    font-family: 'Parisienne', cursive;
    font-size: 28px;
}

.DSstar {
    padding-left: 30px;
    width: 30%;
}

.products {
    height: 100%;
}

.selling {
    margin-left: 50px;
    margin-right: 50px;
}

.productsDisplay {
    display: none;
}

.sellEvaDis {
    display: none;
}

.productsText {
    padding: 0px 0px;
}

.productsImg {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 12vw;
    object-fit: cover;
    padding-right: 0px;
    padding-left: 0px;
}

.productsImg2 {
    width: 20px;
    height: 20px;
    margin: 10px 10px 15px 10px;
    cursor: pointer;
}

.cardProducts {
    min-height: 250px;
    max-height: 300px;
}

.productsCardbody {
    padding: 0rem;
}

.productsCard {
    padding-right: 0px;
    padding-left: 0px;
}

.productsIntroduction4 {
    padding-bottom: 50px;
    margin-bottom: 120px;
}

.productsCardText {
    margin: 10px 10px 10px 10px;
}

.memberAside {
    
    position: relative;
    top: 0px;
    left: 8%;
    width: 15%;
    height: 100%;
    margin: 100px 0px;
    /*background-color: rgba(0,0,0,0.4);
    color:#ffffff;*/
}

.memberArticle {
    position: relative;
    top: 0px;
    left: 10%;
    width: 67%;
    height: 100%;
    margin: 100px 0px;
}

.navAside:hover {
    color: #56b5e1 !important;
}

.sellEvaluation {
    height: 10%;
    width: 100%;
    color: #fff;
}

.nav-pillsEva .nav-itemEva {
    margin-bottom: 0px;
    width: 16.6%;
    background-color: rgba(0,0,0,0.3);
}

.nav-pillsEva .nav-linkEva.active {
    color: #fff;
    background-color: #000000;
    border: 1px solid;
    border-color: #fff;
}

.nav-pillsEva .nav-linkEva {
    border-radius: 0rem;
    color: #fff;
    text-align: center;
}

.memberNav-tabs .memberNav-link.active, .memberNav-tabs .memberNav-item.show .memberNav-link {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    border: 0px solid;
}

.memberNav-tabs {
    border-bottom: 0px solid; 
}

.nav-tabsMbr {
    border-bottom: 0px solid #dee2e6;
    height: 100%;
}

    .nav-tabsMbr .nav-itemMbr {
        margin-bottom: 0px;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    .nav-tabsMbr .nav-linkMbr {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }

        .nav-tabsMbr .nav-linkMbr.active, .nav-tabsMbr .nav-itemMbr.show .nav-linkMbr {
            color: #ffffff;
            background-color: rgba(0,0,0,0.3);
            border-color: #dee2e6 #dee2e6 #fff;
            height: 100%;
            text-align: center;
            padding-top: 4%;
        }
.MbrName {
    position: absolute;
    top: 5%;
    left: 15%;
    font-family: 'Parisienne', cursive;
    font-size: 28px;
}

.MbrIntroduction {
    position: absolute;
    top: 10%;
    left: 10%;
    margin-top: 5rem;
    margin-left: 2rem;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.MbrIntroductionD {
    position: absolute;
    right: -200px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 15px;
}

.MbrIntroductionB {
    position: relative;
    margin-top: 5rem;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 15px;
}



.MbrIntroductionC {
    font-size: 15px;
}





/*訂單詳細資料*/
    .orderDA {
    position: absolute;
    left: 200px;
}

.orderDB {
    position: absolute;
    right:0px;
}

/*商品頁面ProductPage*/
.ProductPage {
    margin:100px 0px 100px 0px; 
}
.ProductPagecarousel {
    width: 650px;
    height: 600px;
    margin-top: 110px;
}
.pPcInner {
    height: 600px;
}
.pPcInnerB {
    height:100%;
}
.pPcd-block {
    align-items: center;
}


.ProductSyn {
    position:relative;
    top:30px;
    left:10%;

}
.ProductName {
    font-size: 24px;
    font-family: 'Ma Shan Zheng', cursive;
    margin-bottom: 30px;
}
.ProductPrice {
    font-size: 30px;
    margin-bottom: 30px;
    color: #ff9797;
    font-family: 'Noto Sans TC', sans-serif;
}
.ProductSpec {
    margin-bottom: 30px;
}
.ProductSpecA {
    color: rgba(0,0,0,0.4);
    font-size: 15px;
}
.form-controlSpec {
    width: 100%;
}

.ProductbtnA {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ProductbtnB {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    color: #ff9797;
    border: 1px solid #ff9797;
}

.Productmem {    
    height: 150px;
    margin-bottom:100px;
}
.ProductmemcardA {
    width: 145px;
    border: 0px solid;
}
.ProductmemcardB {
    width: 145px;
    padding-left: 10%;
    padding-top: 20px;
    border: 0px solid;
}
.ProductmemcardC{
    padding-top:3px;
    
}
.ProductmemcardD {
    font-size: 8px;
    width: 88px;
    color: #4c90fb;
    border: 1px solid #4c90fb;
}
.ProductmemRow {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: 7px 7px 12px -3px rgba(0, 0, 0, 0.2);
}

.ProductPageNav {
    margin-top:200px;
    margin-bottom:150px;
}

.ProductNav-pills {
    height: 10%;
    width: 100%;
    color: #fff;
}
.ProductTabA {    
    margin:100px 50px 200px 50px;
}
.ProductTabB {
    text-align:center;
}

/*CreateQA*/
.cardCreateQA {
    border: 0px solid;
    padding:40px 20px;
    margin: 30px 0 50px 0;
    text-align: left;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.createBtnA {
    padding:20px 20px 20px 20px;
}
.createQAText {
    text-align: left;
    font-size: 16px;
}


input, select, textarea {
     max-width: 100%;
}

.QATextArea {
    width: 100%;
    height: 150px;
}

/*GetQA*/
.cardQA {
    border: 0px solid;
    margin: 30px 0 30px 0;
    text-align: left;
    
}
.cardQAB {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    /*border-*/
    border-radius: 10px;
}


/*WishListIndex*/

.WishbtnA {
    margin: 0 10% 3% 10%;   
    width: 80%;
    color: #ff9797;
    border: 1px solid #ff9797;
}













/*管理員後台AdmBackstage*/
    .bodyAdmBg {
    background-color: rgba(0,0,0,0.8);
    
}

.AdmFontSize {
    font-size: 25px;
    margin-bottom: 10px;
}

.AdmBackAside {
    position: absolute;
    left: 2%;
    width: 14%;
    height: 100%;
    margin: 0px 0px;
    padding-top: 100px;
}

.ABnav1 {
    position: relative;
    padding: 0rem 0rem;
    min-width: 0rem;
    width: 82%;
}

.aBcollapseA {
    color: #ffffff;
    padding: 1.5rem 0;
    font-size: 18px;
}

    .aBcollapseA:hover {
        color: #adcaff;
    }

.aBcollapseB {
    color: #000000;
    padding: 0.5rem;
    font-size: 15px;
    text-align: center;
}

    .aBcollapseB:hover {
        color: #ffffff;
        background-color: rgba(0,0,0,0.6)
    }

.AdmBackArticle {
    background-color: #ffffff;
    position: absolute;
    left: 16%;
    width: 84%;
    height: 110%;
    margin: 0px 0px;
    padding-top: 100px;
}