
@{
    ViewBag.Title = "rvwIndex";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h2>評價</h2>



<div>
    <ul class="nav  nav-fill nav-bg">
        <li class="nav-item d-nav "><a href="#item1" class="nav-link o-li d-active" data-toggle="tab">尚未給的評價</a></li>
        <li class="nav-item d-nav"><a href="#item2" class="nav-link o-li" data-toggle="tab">已給的評價</a></li>

    </ul>

</div>



<div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="item1">
        @Html.Action("_rvwIndex", new { code = 0 })
    </div>
    <div class="tab-pane fade " id="item2">
        @Html.Action("_rvwIndex", new { code = 1 })


    </div>

</div>




@section Script
{
    <script src="~/Scripts/stars.js"></script>



    <script>
        $(`.givestars`).stars({
            value: 1
        });
        function getStar(starCount) {
            var starsArray = ["☆", "☆", "☆", "☆", "☆"];
            var result = "";
            for (var i = 0; i < starCount; i++) {
                starsArray.unshift("★");
            }
            for (var i = 0; i < 5; i++) {
                result += starsArray[i];
            }
            var result = `${result}`


            return result
        }

        $(`.star`).each((index, element) => {
            $(element).html(
                getStar($(element).attr("Stars"))
            )
        })

        $(`.Button`).on("click", function () {

            let odrid = $(this).next().val();

            $(`input.odrID`).attr("value", odrid);


        });

        $(`.Submit`).on("click", function () {

            let starcount = $(`.givestars>i.selected`).length;
            $(`input.rvwStar`).attr("value", starcount);
        })
    </script>

    <script>

        $('.o-li').on("click", function () {


            $('.o-li').removeClass("d-active");
            $(this).addClass('d-active');

        });

        ADD();
        function ADD() {
            if (String(window.location) == $('m-li').href) {
                $('ul>li:first-child').addClass("d-active");
            };
        }
    </script>

    <script>
        let Text = "";
        $(`.btn-text`).click(function (evt) {
            let maxlimit = 120;
            let btnText = evt.target.textContent;
            let text = $(`textarea`).val();
            Text = text + btnText;
            $(`textarea`).val(Text);

            if ($(`textarea`).val().length > maxlimit)
                $(`textarea`).val( $(`textarea`).val().substring(0, maxlimit))
        

            })
    </script>

    <script>


        function LimitTextArea(field) {
            let maxlimit = 120;
            if (field.value.length > maxlimit)
                field.value = field.value.substring(0, maxlimit);
        }


    </script>
}