
@{
    ViewBag.Title = "rvwIndex";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<h2>rvwIndex</h2>



        <div>
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item "><a href="#item1" class="nav-link active" data-toggle="tab">尚未給的評價</a></li>
                <li class="nav-item"><a href="#item2" class="nav-link" data-toggle="tab">已給的評價</a></li>

            </ul>

        </div>

        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="item1">
                @Html.Action("_rvwIndex", new { code = 0 })
            </div>
            <div class="tab-pane fade " id="item2">
                @Html.Action("_rvwIndex", new { code = 1 })


            </div>

        </div>




@section Script
{
    <script src="~/Scripts/stars.js"></script>



    <script>
         $(`.givestars`).stars();
        function getStar(starCount) {
            var starsArray = ["☆", "☆", "☆", "☆", "☆"];
            var result = "";
            for (var i = 0; i < starCount; i++) {
                starsArray.unshift("★");
            }
            for (var i = 0; i < 5; i++) {
                result += starsArray[i];
            }
            var result = `<span style=" font-size: 30px;color:#E4AD22">${result}</span>`

            return result
        }

        $(`.star`).each((index, element) => {
            $(element).html(
                getStar($(element).attr("Stars"))
            )
        })

        $(`.Button`).on("click", function () {

            let odrid = $(this).next().val();

            $(`input.odrID`).attr("value", odrid);
           

        });

        $(`.Submit`).on("click", function () {

            let starcount = $(`.givestars>i.selected`).length;
            $(`input.rvwStar`).attr("value", starcount);
        })
    </script>


}