
@{
    ViewBag.Title = "searchorder";
}

<h2>searchorder</h2>

<form method="post" action="searchorder" >
    <input id="Text1" type="text" name="id"/>
    <input id="Submit1" type="submit" value="搜尋" />
</form>

